@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}
@font-face {
    font-family: Janna;
    src: url(Janna\ LT\ Regular.ttf) format("truetype");
}
html {
    scroll-behavior: smooth;
}

/* Global Styles */
h1 {
    font-size: 50px;
    line-height: 65px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 40px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
    background-color: #eabf9e;
}

#header {
    height: 110px;
    background: #ffe2cc;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.06);
    z-index: 999;
    /*fixed header*/
    left: 0;
    top: 0;
}

#header .logoa {
    padding-left: 1.5%;
}


#navbar {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
}
.logoimg{
    width:100px;
}
#mobile {
    display: none;
    align-items: center;
}

#navbar li {
    padding: 0px 20px;
    list-style: none;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
    /* border-bottom: 3px solid transparent; */


}

#navbar li a:hover,
#navbar li a.active {
    color: #ac7e00;

}

#navbar li a.active::before,
#navbar li a:hover::before {
    content: "";
    width: 30%;
    height: 0%;
    background: #000000;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#rolex {
    background-image: url('../img/main.jpg');
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#rolex #shopnow {
    text-decoration: none;
    background-color: #ffffff;
    width: 29vb;
    height: 8.5vh;
    text-align: center;
    border-radius: 20px;
    padding: 2vh;
    font-weight: 600;
    font-size: 3vh;
    color: #642b00;
    margin: 0px 0px 20px 60px;

}

#rolex #dazzle {
    font-size: 40px;
    font-weight: 600;
    color: #ffe2cc;
    margin: 20% 0px 40px 30px;
}

.Product1 {
    text-align: center;
}

.pro_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}
.category2{
    padding: 0px 250px;
}
.all {
    text-decoration: none;
}

.section-p2 {
    margin: 40px 80px -130px 80px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pro {
    text-decoration: none;
    border: 1px solid #000;
    background-color: #ffdabd;
    width: 18%;
    padding: 10px 12px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    min-width: 200px;
    border-radius: 10px;
    margin: 15px 0;
    position: relative;
    transition: 0.2 s ease;
    overflow: hidden;
}

.pro:hover {
    transition: 0.2s all ease-in-out;
    transform: scale(1.1);
}

.pro:not(:hover) {
    transition: 0.2s all ease-in-out;
    transform: scale(1);
}

/*Animation shadow*/
.pro img {
    width: 100%;
    border-radius: 10px;

}

.pro .des {
    text-align: start;
    padding: 10px 0;

}

.pro .des span {
    color: #606063;
    font-size: 12px;
    ;
}

.pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 18px;
}

.pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}
.category6{
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto;
    align-items: center;
    margin-left:124px;
}
.category4{
    display: flex;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto;
    align-items: center;
}
.navigation a{
    text-decoration: none;
    color: #642b00;
    font-weight: 600;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.navigation a:hover,
.navigation a.active {
    color: #fd882f;

}

.navigation a.active::before,
.navigation a:hover::before {
    content: "";
    width: 30%;
    height: 0%;
    background: #000000;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
.pro .cart2 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.pro .arrow{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#testfor{
    padding-left: 40px;
}
#newsletter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    background-repeat: repeat-x;
    background-size: cover;
}



.norm {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000000;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    text-align: center;
}


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.logo {
    margin-bottom: 30px;
    width: 17vw;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}


footer .follow {
    margin-top: 30px;

}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
    width: 25px;
}





footer .follow i:hover,
footer a:hover {
    color: #fd882f;

}

#whatsapp a {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    background-color: #27be5f;
    border-radius: 50px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    width: 160px;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 25px -6px rgba(0, 0, 0, 1);
    animation: effect 5s infinite ease-in;
}


footer .copyright {
    width: 100%;
    text-align: center;
}
#pro-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}
#about-head {
    align-items: center;
    display: flex;
}


#about-head img {
    width: 100%;
    height: 510px;
    object-fit: cover;
}

#about-head div {
    padding-left: 40px;
}

#contact-details {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

#contact-details .details {
    width: 50%;
}

#contact-details .details span,

#contact-details .details h2,

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 40px;

}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;

}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 24px;

}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;

}

#contact-details .banner {
    width: auto;
    height: auto;
    margin-left: 16%;
}

#contact-details .banner img {
    width: 100%;
    height: auto;
    object-fit: fill;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 40px;
}

#form-details form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 20px;

}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 26px;
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #ffddc4;
}

#form-details form button {
    background-color: #000000;
    color: #fff;
}

#form-details .people div {
    padding-top: 40px;
    padding-left: 15px;
    padding-bottom: 34px;
    display: flex;
    align-items: flex-start;
}

#form-details .people img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p {
    margin: 0;
    font-size: 16px;
    line-height: 25px;
}

#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

@media(max-aspect-ratio:5/5) {
    #header {
        max-height: 105px;
        height: 100%;
        background: #ffe2cc;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.06);
        /*fixed header*/
        left: 0;
        top: 0;
    }

    #navbar li a {
        text-decoration: none;
        font-size: 3.5vw;
        font-weight: 600;
        transition: 0.3s ease;
    }

    #navbar {
        padding: 0 0 0 0;
        position: absolute;
        top: 4vh;
        left: 62vw;
        transform: translateX(-50%);
    }
    .logoimg{
        height:10vh;
        width: 22vw;
        max-width: 100px;
        background-size: cover;
        max-height: 105px;

    }
    #navbar li {
        padding: 0vh 5vw 0vw 5vw;
    }
    #newsletter{
        margin-bottom: 0px;
    }
    #rolex #dazzle {
        justify-content: center;
        font-size: clamp(0px,10vw,78px);
        font-weight: 600;
        color: #ffe2cc;
        margin: 0% 0vw 6vh 0vw;
        text-align: center;
    }

    #rolex {
        background-image: url('../img/main.jpg');
        background-position: center;
        background-size: cover;
        width: 100%;
        max-height: 700px;
        flex-direction: column;
        align-items: first baseline;
        justify-content: center;
        position: relative;
        padding: 0vh 15vw 0vh 15vw;
    }

    .pro .des h5 {
        padding-top: 0.75vh;
        font-size: 4.15vw;
    }
    
    .pro .des i {
        font-size: 12px;
        color: rgb(243, 181, 25);
        font-size: 1vw;
    }
    
    .pro .cart2 {
        font-size: 2.5vh;
        width: 4.4vh;
        height: 4.4vh;
        line-height: 4vh;
        border-radius: 100%;
        border: 0.25vw solid #000;
        bottom: 1vh;
        right: 1vh;
    }

    #rolex #shopnow {
        text-decoration: none;
        background-color: #ffffff;
        width: 37vw;
        height: 6.5vh;
        max-height: 55px;
        text-align: center;
        border-radius: 20px;
        padding-top: 1.4vh;
        padding-bottom: 6vw;
        font-weight: 600;
        font-size: 3.5vw;
        color: #642b00;
        margin: 1vh auto 0vh auto;
        display: block;
    }
    footer h4 {
        font-size: 3.25vw;
        padding-bottom: 2.1vh;
    }
    .categories {
        font-size: clamp(0px,10vw,78px);
        line-height: 0px;
        padding-bottom: 2vh;
        text-align: center;
    }

    .logo {
        width: 79vw;
        padding: 15%;
        margin-bottom: 0vh;
    }

    footer p {
        font-size: 3.01vw;
        margin: 0 0 0.85vh 0;
    }
    footer .follow {
        margin-top: 3.225vh;
    }
    #whatsapp a {
        position: fixed;
        bottom: 2vh;
        right: 4vw;
        z-index: 99;
        background-color: #27be5f;
        border-radius: 50px;
        color: #ffffff;
        text-decoration: none;
        font-weight: 600;
        width: 22vw;
        height: 4.5vh;
        font-size: 2.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 25px -6px rgba(0, 0, 0, 1);
        animation: effect 5s infinite ease-in;
    }

    footer .copyright {
        width: 100%;
        text-align: center;
        margin-top: 4vh;
    }

    .pro {
        border: 0.2lvw solid #000;
        background-color: #ffdabd;
        width: 90%;
        padding: 1vh 3vw;
        border-radius: 3.5vw;
        margin: 1.8vh 0;
        min-width: 0%;
    }
    .pro .arrow{
        width: 35px;
        height: 35px;
        line-height: 35px;
        border-radius: 30px;
        background-color: #ffffff;
        color: #000000;
        border: 1px solid #000;
        position: absolute;
        bottom: 4px;
        right: 8px;
    }
    .pro img {
    border-radius: 1vw;
    }
    .pro .des {
    padding: 0.9vh 0vw;
    }
    .pro_container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        align-items: center;
        padding: 5vh 0% 0% 5vw;
    }

    .pro_container .lastcon {
        margin: 4.46% 0% 0% 25%;
    }

    .Product1 .lastcon {
        grid-column: 1/-1;
        justify-content: center;
        align-items: center;
        width: 45%;

    }

    .section-p1 {
        padding: 7vh 00px;
    }
    .section-m1{
        margin:4vh 0vw;
    }
    .section-p2 {
        margin: 0% 10vw 6vh 10vw;
        justify-content: space-between;
    }

    #text #text2 {
        padding: 10px;
        padding-left: 80px;
        font-size: 40px;
    }

    #text3 {
        margin: 3%;
        font-size: 3.01vw;
    }

    #about-head {

        flex-direction: column-reverse;
        padding: 0% 0%;
        margin: 0% 0% 0% 0%;
    }

    #about-head img {
        width: 100%;
        height: 510px;
        object-fit: cover;
    }

    #contact-details {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        padding: 0% 0%;
        margin: 0% 0% 0% 0%;
        /* justify-content: space-between; */
    }
    #form-details {
        margin: 4.85vh 6.1vw;
        padding: 5.5vh 3vw;
    }
    #form-details form {
        padding: 0px;
    }
    #form-details p {
        text-align: center;
        font-size: 3.6vw;
    }
    #form-details h2{
        font-size: 7.5vw;
        text-align: center;
    }
    #form-details form input,
    #form-details form textarea {
        padding: 1.93vh 3.25vw;
        margin-bottom: 4.11vh;
        border-radius: 4px;
    }
    .norm {
        font-size: 3.35vw;
        padding: 2.4vh 7.1vw;
    }
    #contact-details .details li p {
        font-size: 3.25vw;
    }
    #contact-details .banner {
        width: auto;
        height: auto;
        margin-left: 0%;
        margin: 0% 0% 10% 0%;
    }
    footer .follow i {
        width: 5.9vw;
        font-size: 5vw;
    }
    #contact-details .banner img {
        width: 100%;
        height: 510px;
        object-fit: cover;
    }

    #contact-details .details {
        width: 80%;
    }
    #text .categories {
        margin: 6vh 0px 3vh 0px;
    }
    #about-head div{
        padding : 0;
    }
    .category6{
        grid-template-columns:  auto auto;
        grid-template-rows: auto auto auto;
        margin-left:0vw;
    }
    .category4{
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto;
        align-items: center;
    }
    .category5{
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto;
        align-items: center;
    }
    .navigation a{
        font-size: 4.1vw;
    }
}